@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.wrapper {
  min-height: 200vh;
  display: flex;
  flex-direction: column;

  &.lock {
    overflow-y: hidden;
  }
}

html {
  &.lock {
    overflow-y: hidden;
  }
}

body {
  &.lock {
    overflow-y: hidden;
  }
}

header {
  height: 80px;
  border: 1px solid red;
}

main {
  flex: 1 1 auto;
  height: 300%;

  border: 3px solid black;
}

.nav_body {
  @include max-screen(767.98px) {

    position: fixed;
    top: 0;
    left: -100%;
    background-color: aquamarine;
    width: 100%;
    height: 100%;

  }

  &.opened {
    left: 0;
    transition: 0.3s all ease 0s;
  }
}

ul {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  @include max-screen(767.98px) {
    flex-direction: column;
  }

  li {

  }
}

footer {
  height: 80px;
  border: 1px solid red;
}


$glow1: orange;
$glow2: #ff3f00;
$glow3: #3bff00;

$size: 3em;

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.5em;
  color: white;
  font-weight: 100;
  width: $size * 1.8;
  height: $size * 1.8;
  line-height: $size * 1.8;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -($size/2);
  margin-top: -($size/2);
  border-radius: 100%;

  border: 2px solid $glow1;

  box-shadow: 0 0 0 0, 0 0 2px 3px $glow1, 0 0 4px 25px,
  0 0 1px 32px, 0 0 32px 25px $glow1, 0 0 32px 25px;

  animation: pulse 4s linear infinite;
  transition: all 1s ease;

  &:before {
    $multi: 1.55;

    box-sizing: border-box;

    content: "";
    border-radius: 100%;

    animation: rotate 2s linear infinite;

    transition: opacity 1s ease 0.6s, border 0.4s ease 0s,
    width 0.4s ease 0.2s, height 0.4s ease 0.2s, margin 0.4s ease 0.2s;

    position: absolute;
    left: 50%;
    top: 50%;

    width: $size * $multi;
    height: $size * $multi;
    margin-left: -(($size * $multi)/2);
    margin-top: -(($size * $multi)/2);

    border-top: 1px solid $glow3;
    border-bottom: 1px solid $glow2;
  }


  p {
    color: black;
    font-size: 15px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0, 0 0 2px 3px $glow1, 0 0 1px 32px,
    0 0 32px 25px $glow1;
  }

  49.9% {
    box-shadow: 0 0 1px 32px, 0 0 32px 25px $glow1, 0 0 1px 64px,
    0 0 60px 25px $glow1;
  }

  50% {
    box-shadow: 0 0 0 0, 0 0 2px 3px $glow1, 0 0 1px 32px,
    0 0 32px 25px $glow1;
  }

  100% {
    box-shadow: 0 0 1px 32px, 0 0 32px 25px $glow1, 0 0 1px 64px,
    0 0 60px 25px $glow1;
  }
}


.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget {
  position: fixed;
  left: 20px;
  bottom: 20px;


  .widget__body {
    width: 170px;
    height: 200px;
    position: relative;
    transition: 0.5s all ease;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;

    &.opened {
      max-width: 220px;
      height: 300px;
      width: 220px;
      transition: 0.5s all ease;
      cursor: default;
      pointer-events: none;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .widget_close {
    display: none;
    position: absolute;
    z-index: 9999;
    top: -20px;
    right: -20px;
    cursor: pointer;

    &.opened {
      display: block;
    }
  }
}


.video-widget {
  position: fixed;
  left: 0;
  z-index: 999999;
  bottom: 0;
}

.video-widget__container {

  z-index: 999999;
  overflow: hidden;
  -webkit-transition: width .3s ease-in-out 0s, height .3s ease-in-out 0s, bottom .3s ease-in-out 0s, border-color .2s ease-in-out 0s, opacity 1s ease-in-out 0s, -webkit-transform .2s ease-in-out 0s;
  -o-transition: width .3s ease-in-out 0s, height .3s ease-in-out 0s, bottom .3s ease-in-out 0s, border-color .2s ease-in-out 0s, opacity 1s ease-in-out 0s, -o-transform .2s ease-in-out 0s;
  -moz-transition: transform .2s ease-in-out 0s, width .3s ease-in-out 0s, height .3s ease-in-out 0s, bottom .3s ease-in-out 0s, border-color .2s ease-in-out 0s, opacity 1s ease-in-out 0s, -moz-transform .2s ease-in-out 0s;
  transition: transform .2s ease-in-out 0s, width .3s ease-in-out 0s, height .3s ease-in-out 0s, bottom .3s ease-in-out 0s, border-color .2s ease-in-out 0s, opacity 1s ease-in-out 0s, -webkit-transform .2s ease-in-out 0s, -moz-transform .2s ease-in-out 0s, -o-transform .2s ease-in-out 0s;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;

  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 20px;
  width: 150px;
  height: 220px;

}

.video-widget__container:hover {
  -webkit-transform: scale(1.05) translate(5px, -5px);
  -moz-transform: scale(1.05) translate(5px, -5px);
  -ms-transform: scale(1.05) translate(5px, -5px);
  -o-transform: scale(1.05) translate(5px, -5px);
  transform: scale(1.05) translate(5px, -5px);
}

.video-widget__video {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: 200;

}

.video-widget__close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  z-index: 250;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out 0s, -webkit-transform .3s ease-in-out 0s;
  transition: opacity .2s ease-in-out 0s, -webkit-transform .3s ease-in-out 0s;
  -o-transition: opacity .2s ease-in-out 0s, -o-transform .3s ease-in-out 0s;
  -moz-transition: transform .3s ease-in-out 0s, opacity .2s ease-in-out 0s, -moz-transform .3s ease-in-out 0s;
  transition: transform .3s ease-in-out 0s, opacity .2s ease-in-out 0s;
  transition: transform .3s ease-in-out 0s, opacity .2s ease-in-out 0s, -webkit-transform .3s ease-in-out 0s, -moz-transform .3s ease-in-out 0s, -o-transform .3s ease-in-out 0s
}

.video-widget__close:after, .video-widget__close:before {
  position: absolute;
  left: 9px;
  top: 1px;
  content: " ";
  height: 18px;
  width: 2px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, .5) 1px 1px 10px;
  box-shadow: rgba(0, 0, 0, .5) 1px 1px 10px
}

.video-widget__close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.video-widget__close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.video-widget__container:hover .video-widget__close {
  opacity: .5
}

.video-widget.video-widget[data-state=opened] .video-widget__container {
  width: 230px;
  height: 350px;
  border-radius: 20px;
  border-color: #fff
}

.video-widget.video-widget[data-state=opened] .video-widget__close {
  opacity: .5
}

.video-widget.video-widget[data-state=opened] .video-widget__close:before {
  display: none
}

.video-widget.video-widget[data-state=opened] .video-widget__close:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg)
}

.video-widget.video-widget[data-state=opened] .video-widget__close:hover {
  opacity: 1
}

.video-widget__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
  height: 40px;
  border-radius: 10px;
  z-index: 300;
  -webkit-box-shadow: rgba(0, 0, 0, .25) 0 4px 15px;
  box-shadow: rgba(0, 0, 0, .25) 0 4px 15px;
  text-align: center;
  -webkit-transition: opacity .3s ease-in-out 0s, background-color .2s ease-in-out 0s, -webkit-transform .2s ease-in-out 0s;
  transition: opacity .3s ease-in-out 0s, background-color .2s ease-in-out 0s, -webkit-transform .2s ease-in-out 0s;
  -o-transition: opacity .3s ease-in-out 0s, background-color .2s ease-in-out 0s, -o-transform .2s ease-in-out 0s;
  -moz-transition: transform .2s ease-in-out 0s, opacity .3s ease-in-out 0s, background-color .2s ease-in-out 0s, -moz-transform .2s ease-in-out 0s;
  transition: transform .2s ease-in-out 0s, opacity .3s ease-in-out 0s, background-color .2s ease-in-out 0s;
  transition: transform .2s ease-in-out 0s, opacity .3s ease-in-out 0s, background-color .2s ease-in-out 0s, -webkit-transform .2s ease-in-out 0s, -moz-transform .2s ease-in-out 0s, -o-transform .2s ease-in-out 0s;
  visibility: hidden;
  background-color: #fdd82a;
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
  opacity: 0
}

.video-widget__button:hover {
  background-color: #ffe257;
  text-decoration: none
}

.video-widget.video-widget[data-state=opened] .video-widget__button {
  opacity: 1;
  visibility: visible
}



@media only screen and (max-width: 479px) {
  .video-widget__container {
    left: 15px;
    bottom: 15px;
    width: 90px;
    height: 125px
  }
}

